.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* shared */
.text-description {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);

}

.btn {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #E95A08;
}

/* nav section related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;

}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
    margin-right: 48px;

}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* banner section related style */
.banner {
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.banner-content {
    width: 570px;

}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 13px;
}

.btc {
    color: #E95A08;
}


/* plants section related style */
.plants {
    margin-left: 150px;
    margin-right: 150px;


}

.plants-info {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.plants-title {
    font-size: 3.12rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.ptc {
    color: #E95A08;

}

.plants-description {
    width: 888px;
    margin: 0 auto;
}

.plants-card {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;


}

.card {
    width: 270px;
    /* height: 48px; */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-info {
    text-align: center;

}

.card img {
    margin-bottom: 30px;
}

.card-price {
    margin-bottom: 30px;
}

/* Plants lover section related style */
.plants-lover {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 210px;
    gap: 60px;
}

..plants-lover-info {}

.plants-lover-info-title {
    font-size: 3.12rem;
    width: 540px;
    margin-bottom: 60px;
}

.plants-lover-info-description {
    width: 540px;
}

.plants-lover-info-description li {
    margin-bottom: 40px;
}

.plants-lover-img {
    position: relative;
    display: inline-block;


}

.plants-lover-img-badge {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 268px;
    height: 286px;
    margin-top: -130px;
    margin-left: 250px;

}

/* Latest deal section related sty;le */
.latest-deal {
    width: 100%;
    height: 138px;

    margin-top: 133px;
}

.latest-deal-info {
    text-align: center;
    /* justify-content: center;
    align-items: center; */

}

.latest-deal-info-title {
    font-size: 3.12rem;
    margin-bottom: 16px;
}

.ldt {
    color: #E95A08;
}

.latest-deal-info-dsecription {
    /* width: 888px;
    height: 54px; */

}

.latest-deal-layout {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    gap: 28px;
    justify-content: center;
    margin-top: 138px;

}

.latest-deal-layout1 {
    width: 33%;
    height: auto;
    text-align: center;



}

.latest-deal-layout2 {
    width: 66%;
    height: auto;

    border-radius: 14px;
    background-image: url(../assets/deal-zabo.png);
    background-size: cover;
    /* filter: opacity(0.5); */
    text-align: center;
    /* filter: brightness(0.5);
    z-index: 0; */



}

.latest-deal-layout1-1 {
    width: 100%;
    height: 206px;

    margin-bottom: 28px;
    border-radius: 14px;
    background-image: url(../assets/deal-bloom.png);
    background-size: cover;
    /* filter: opacity(0.5); */
    text-align: center;


    /* background-repeat: no-repeat;
     */
}

.latest-deal-layout1-2 {
    width: 100%;
    height: 206px;

    border-radius: 14px;

    background-image: url(../assets/deal-ana.png);
    background-size: cover;



}

.layout-title {
    font-size: 20px;
    font-weight: bold;
    color: white;

}

.latest-deal-layout1-1-text {
    padding-top: 80px;

}

.latest-deal-layout1-2-text {
    padding-top: 200px;

}

.latest-deal-layout1-2-text h2 {
    font-size: 40px;
    font-weight: bold;

}

.latest-deal-layout1-2-text a {
    font-size: 28px;
}

.latest-deal-layout a {
    color: white;
}

/* Responsive for smaller device */
@media screen and (max-width:576px) {

    /* nav section related style */
    nav {
        margin: 20px;
        width: 380px;

    }

    .nav-item {
        display: none;

    }

    nav>img {
        width: 63px;
        height: 38px;
    }

    nav ul li {
        margin-right: 0;
    }

    /* banner section related style */
    .banner {
        flex-direction: column-reverse;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
        text-align: left;
    }

    .banner-content {
        width: 390px;

    }

    .banner-img>img {
        width: 390px;

    }

    /* plants section related style */
    .plants {
        margin-left: 10px;
    }

    .plants-info {
        width: 390px;
    }

    .plants-description {
        width: 390px
    }

    .plants-card {

        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

    }

    .card>img {
        width: 100%;
        height: auto;
    }

    .card {
        width: 190px;

    }

    /* Plants lover section related style */
    .plants-lover-img>img {
        width: 390px;

    }

    .plants-lover-info-title {
        width: 390px;
    }

    .plants-lover-img-badge {

        display: none !important;

    }

    .plants-lover {

        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
        margin-top: 40px;

    }

    .plants-lover-info {
        width: 361px;
    }

    .plants-lover-info-description {
        width: 390px;
    }


    .latest-deal-layout {
        margin-right: 10px;
        margin-left: 10px;
        flex-direction: column;
    }

    .latest-deal-layout1 {
        width: 100%;
        height: auto;
    }

    .latest-deal-layout2 {
        width: 100%;
        height: 206px;
    }

    .latest-deal-layout1-2-text {
        padding-top: 90px;

    }

    .latest-deal-layout1-2-text h2 {
        font-size: 20px;
        font-weight: bold;

    }

    .latest-deal-layout1-2-text a {
        font-size: 16px;
    }
}